*,
*::before,
*::after{
  box-sizing: border box;
  font-family: 'system-ui', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
}


body{
  color: rgb(243, 243, 247);
  
  font-size: 30px;
  font-family: "Cascadia Code", sans-serif;
  background-color: #65c5eb;
  width: 900px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 0%;

}

h1 {
  font-size: 70px;
  text-align: center;
}

a {
  color: rgb(243, 243, 247);
}

select {
  font-size: 0.90rem;
  padding: 10px 10px;
}

input {
  font-size: 0.90rem;
  padding: 10px 10px;
}
