<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/datstil.css')}}">
</head>
<body>
    
<h1>Profil</h1>
{{msg}}
<br>
<br>
<a href="/coord">Ajouter une board</a>
<a href="/deconnexion">Déconnexion</a>
<h2>Voici vos boards :</h2>
<ul>
    {% for b in bs%}
    <li>Board {{b}}</li>
    {%endfor%}
</ul>

</body>
</html>