<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/datstil.css')}}">
</head>
<body>
    
<h1>Profil</h1>
<a href="/">Retour à l'accueil</a>
{{msg}} 

<h2>les Bornes</h2>
choisir les bornes de capteur que vous voulez:
<ul>
<li>
    <a>
    </label>
    <button type="submit" id="submt">b1</button>
    </a>
</li>

<li>
    <a>
    </label>
    <button type="submit" id="submt">b2</button>
    </a>
</li>

<li>
    <a>
    </label>
    <button type="submit" id="submt">b3</button>
    </a>
</li>

<li>
    <a>
    </label>
    <button type="submit" id="submt">b4</button>
    </a>
</li>
</ul>
</body>
</html>