<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Client</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>

<h1>MPULSE</h1>
<header><img src="{{url_for('static',filename='images/meteo.jpg')}}" alt="ligne de ciel avec diférente méteo"></header>
        
<a href="/login">Connexion</a>
<a href="/login">s'inscrire</a>
<h2>information</h2>       
</body>

