<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/conect_sins.css')}}">
</head>
<body>
<h1>inscription et connexion</h1>
<a href="/">Retour à l'accueil</a>

<p>{{msg}}</p>

<h2>Connexion</h2>
<div id="card">
    <p id="par"><form action="/dashboard" method="POST"> 
    <Label for="in_mail">Mail :</Label>
    <div class="imput-box">
    <input type="email" placeholder="mail" name="in_mail" id="input_mail" required minlength="4" size="30">
    </div>

    <label for="mdp">Mot de passe :</label>
    <div class="imput-box">
    <input type="password" placeholder="mot de passe" name="mdp" id="input_mdp" required minlength="8" maxlength="8" size="10">
    </div>

    <input type="submit" value="Se connecter">
    </p>

</div>
    <script src="app.js"></script>
</form>

<h2>s'inscrire</h2>
<div id="card">
    <p id="par"><form action="/dashboard" method="POST">
    <Label for="in_mail">Mail :</Label>
    <div class="imput-box">
    <input type="email" placeholder="mail" name="in_mail" id="input_mail" required minlength="4" size="30">
    </div>

    <Label for="in_pre">Prénon :</Label>
    <div class="imput-box">
    <input type="text" placeholder="Prénon" name="pré" id="input_pre" required minlength="4" size="20">
    </div>

    <Label for="in_nom">Nom :</Label>
    <div class="imput-box">
    <input type="text" placeholder="Nom" name="nom" id="input_nom" required minlength="4" size="20">
    </div>

    <label for="mdp">Mot de passe :</label>
    <div class="imput-box">
    <input type="password" placeholder="mot de passe" name="mdp" id="input_mdp" required minlength="8" maxlength="8" size="10">
    </div>

    <label for="mdp">Confirmer le mot de passe :</label>
    <div class="imput-box">
    <input type="password" placeholder="Confirmation" name="mdp" id="input_mdp" required minlength="8" maxlength="8" size="10">
    </div>
    <input type="submit" value="continuet">
    </p>
</div>
    <script src="app.js"></script>
</form>

</body>
</html>
